## Other settings

# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

# This adds pause/resume support
[pause_resume]

# add virtual sd card
[virtual_sdcard]
path: /home/pi/sdcard

# enable DWC2 Support
[web_dwc2]
printer_name: OptimusPrime
listen_adress: 0.0.0.0
listen_port: 4750
web_path: dwc2/web #	optional defaulting to dwc2/web. Its a folder relative to your virtual sdcard.
