# Adds print macros such as start print and end print.
# in cura, as start gcode you can define "START_PRINT" and end gcode "END_PRINT"


######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT T_BED T_EXTRUDER]
variable_parameter_T_BED: 60
variable_parameter_T_EXTRUDER: 190
gcode:
    # Start bed heating
    M140 {T_BED}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer with bed mesh
    G28
    # Use the bed mesh 
    BED_MESH_PROFILE LOAD=cr10
    # Move the nozzle near the bed
    G1 X15 Y20 Z5 F3000
    # Move the nozzle very close to the bed
    #G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 {T_BED}
    # Set and wait for nozzle to reach temperature
    M109 {T_EXTRUDER}
    # Prime line
    PRIME_LINE

[gcode_macro END_PRINT]
gcode:
    # move z up
    G91
    G1 Z+10
    G1 E-10 F300
    # absolute xy 
    G90
    G1 X10 Y220 F2000
    #disable hotend and heated bed
    M104 S0
    M140 S0
    # disable steppers
    M84
    BED_MESH_CLEAR
    
[gcode_macro PRIME_LINE]
gcode: 
    G92 E0 ;Reset Extruder
    # move z axis 
    G1 Z2.0 F3000 ;Move Z Axis up
    # move to prime position 
    G1 X20.1 Y30 Z0.28 F5000.0 ;Move to start position
    G1 X20.1 Y200.0 Z0.28 F1500.0 E15 ;Draw the first line
    G1 X20.4 Y200.0 Z0.28 F5000.0 ;Move to side a little
    G1 X20.4 Y30 Z0.28 F1500.0 E30 ;Draw the second line
    G92 E0 ;Reset Extruder
    G1 Z2.0 F3000 ;Move Z Axis up
