# Adds a filament menu item. Load, unload and feed are tested. change is tbd. 

[menu __filament __load]
type: command
name: Load Filament
gcode:
    M701


[menu __filament __unload]
type: command
name: Unload Filament
gcode:
    M702

# preliminary filmanet change. untested.
[menu __filament __change]
type: command
name: Change Filament
gcode: 
    M701
    PAUSE
    M702
    RESUME
    
[menu __filament __feed]
type: input
name: Feed Filament: {0:.1f}
parameter: 0
input_step: 1
gcode: 
	M83
	G1 E{0:.1f} F200
