# Adds some elements to the menu on the printers lcd

# Overwrite the main menu, add a 'calibration' submenu
[menu __main]
type: list
name: Main Menu
items:
    __control
    __tune
    __calibration
    __temp
    __filament
    __prepare
    __octoprint
    __sdcard
    __test

# include calibration menu items
[include menu_calibration.cfg]

# include filament menu items
[include menu_filament.cfg]