## Other settings

# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

# This adds pause/resume support
[pause_resume]

# add virtual sd card
[virtual_sdcard]
path: /home/pi/sdcard

[safe_z_home]
home_xy_position: 160,160
speed: 50.0
z_hop: 10.0
z_hop_speed: 100