## Other settings

# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This adds pause/resume support
[pause_resume]

# add virtual sd card
[virtual_sdcard]
path: /home/pi/sdcard

[pause_resume]

[display_status]
