# File to add calibration possibilities, which are also called in the menu config.

# This adds a bed screws adjust GCode, that moves the nozzle around for you so you can paper adjust. Values are for cr10 rn
[bed_screws]
screw1: 33,37
screw1_name: Front left screw
screw2: 33,263
screw2_name: Rear left screw
screw3: 265,263
screw3_name: Rear right screw
screw4: 265,37
screw4_name: Front right screw

# This adds a screw tilt adjust command that probes certain points on the bed and recommends new bed screw positions.
[screws_tilt_adjust]
screw1: 33,37
screw1_name: Front left screw
screw2: 33,263
screw2_name: Rear left screw
screw3: 235,263
screw3_name: Front right screw
screw4: 235,37
screw4_name: Rear right screw
horizontal_move_z: 10
speed: 250
screw_thread: CW-M3

[bed_mesh] 
speed: 100    #   The speed (in mm/s) of non-probing moves during the calibration. The default is 50.
horizontal_move_z: 5 # height (in mm) that the head should be commanded to move to  just prior to starting a probe
min_point: 0,30 # min x,y pos (nozzle) 
max_point: 240, 260 # max x,y pos (nozzle) --care for bed end
probe_count: 4,4 # number of probe points x,y
split_delta_z: .025 # z step ?  The amount of Z difference (in mm) along a move that will trigger a split. Default is .025.
mesh_pps: 2,2 # nr of points per segment to interpolate in the mesh. 

# Bed mesh options for BLTouch 
# [bed_mesh] 
# speed: 50               #   The speed (in mm/s) of non-probing moves during the calibration. The default is 50.
# horizontal_move_z: 5    # height (in mm) that the head should be commanded to move to  just prior to starting a probe
# min_point: 0,30         # min x,y pos (nozzle) 
# max_point: 240, 260     # max x,y pos (nozzle) --care for bed end
# probe_count: 6,6        # number of probe points x,y
# split_delta_z: .025     # z step ?  The amount of Z difference (in mm) along a move that will trigger a split. Default is .025.
# mesh_pps: 2,2           # nr of points per segment to interpolate in the mesh. 
